body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 600;
}
/* Cards style */

.strela {
  margin-left: 35px;
  margin-top: -880px;
  display: flex;
  padding: 0px;
  height: 76px;
  width: 90px;
  justify-content: center;
}

.card {
  border: 15px solid #c05252;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  margin: 32px;
  display: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #8f1e1e;
  padding-top: 15px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.052);
  box-shadow: 0 10px 10px 10px #8f1e1e;
}
.card:hover a {
  color: #8f1e1e;
  font-size: 25px;
}

div a {
  text-decoration: none;
  color: #a14848;
  font-size: 24px;
}

.first-block,
.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-radius: 0 0 30% 30%;
  border: 5px solid #c05252;
  border-top: none;
  background-color: #ffefd5;
  padding: 25px;
}
main {
  margin-bottom: 400px;
}

.textdost {
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #8f1e1e;
}

.teleph {
  display: flex;
  height: 150px;
  margin-top: 50px;
  margin-left: 1000px;
}
/* Button_back */
.Button_back {
  top: 87px;
  left: 4px;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 70%;
}
.Button_back:hover {
  box-shadow: 0px 0px 50px 15px #c87842;
}
/* Call style */
.call {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #8f1e1e;
  text-decoration: none;
  font-weight: 1000;
  position: fixed;
  bottom: 160px;
  right: 120px;
  height: 90px;
  width: 90px;
}
.call-text {
  position: absolute;
  top: -103px;
  left: 36px;
  transition: all 0.4 linear;
  -webkit-text-stroke: 1px #aa4d0f;
}
.call:hover .call-text {
  text-shadow: 0px 0px 20px #aa4d0f;
}

.call-img {
  transition: all 0.4 linear;
  fill: #8f1e1e;
  transform: rotate(-80deg);
}
.call-img:hover {
  animation: call 0.5s linear;
}
main {
  margin-bottom: 120px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30% 30% 0 0;
  border: 5px solid #c05252;
  border-bottom: none;
  background-color: #ffefd5;
  padding: 30px;
}

@keyframes call {
  0% {
    transform: rotate(-80deg) scale(1.012);
  }
  30% {
    transform: rotate(-70deg) scale(1.032);
  }
  50% {
    transform: rotate(-60deg) scale(1.062);
  }
  70% {
    transform: rotate(-70deg) scale(1.032);
  }
  100% {
    transform: rotate(-80deg) scale(1.062);

    transform: rotate(-80deg) scale(1.012);
  }
}

.modal-img {
  margin-left: 20px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 330px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal {
  justify-content: space-around;
  font-size: 50;
  max-width: 880px;
  width: 80%;
  height: 90%;
  max-height: 880px;
  background-color: white;
  border: 7px solid #c05252;
  border-radius: 20px;
  position: absolute;
}

.order {
  position: absolute;
  left: 340px;
  bottom: -30px;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(186, 90, 90);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.modal-btn-open {
  color: black;
  padding: 7px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  justify-content: space-around;
}

.kart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textmdl {
  color: #8f1e1e;
  font-size: 20px;
  font-style: bold;
}

input {
  padding: 15px;
  border: 2px solid #8f1e1e;
  background-color: #f3dba8;
  border-radius: 15px;
}

.koll,
.adres {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cansel {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.order:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px #953737;
  background-color: rgb(163, 51, 51);
}
