.card {
  border: 15px solid #c05252;
  width: 330px;
  height: 323px;
  border-radius: 25px;
  margin: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div a {
  text-decoration: none;
  color: #a14848;
  font-size: 22px;
}

.first-block,
.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
