body {
  margin: 0;
  padding: 0;
}

.card {
    border: 15px solid #c05252;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    margin: 32px;
    display: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #8f1e1e;
    padding-top: 15px;
  }
div a {
  text-decoration: none;
  color: #a14848;
  font-size: 22px;
}

.first-block,
.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-radius: 0 0 30% 30%;
  border: 5px solid #c05252;
  border-top: none;
}
