body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 600;
}
/* Cards style */
.card {
  border: 15px solid #c05252;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  margin: 32px;
  display: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #8f1e1e;
  padding-top: 15px;
  transition: all 0.3s linear;
}
.card:hover {
  transform: scale(1.052);
  box-shadow: 0 10px 10px 10px #8f1e1e;
}
.card:hover a {
  color: #8f1e1e;
  font-size: 25px;
}

div a {
  text-decoration: none;
  color: #a14848;
  font-size: 24px;
}

.first-block,
.second-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-radius: 0 0 30% 30%;
  border: 5px solid #c05252;
  border-top: none;
  background-color: #ffefd5;
  padding: 25px;
}
main {
  margin-bottom: 110px;
}

.textdost {
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #8f1e1e;
}

.teleph {
  display: flex;
  height: 150px;
  margin-top: 50px;
  margin-left: 1000px;
}
/* Call style */
.call {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #8f1e1e;
  text-decoration: none;
  font-weight: 1000;
  position: fixed;
  bottom: 160px;
  right: 120px;
  height: 90px;
  width: 90px;
}
.call-text {
  position: absolute;
  top: -103px;
  left: 36px;
  transition: all 0.4 linear;
  -webkit-text-stroke: 1px #aa4d0f;
}
.call:hover .call-text {
  text-shadow: 0px 0px 20px #aa4d0f;
}

.call-img {
  transition: all 0.4 linear;
  fill: #8f1e1e;
  transform: rotate(-80deg);
}
.call-img:hover {
  animation: call 0.5s linear;
}

.strela{
  margin-left: 35px;
  margin-top: -880px;
  display: flex;
  padding: 0px;
  height: 76px;
  width: 90px;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30% 30% 0 0;
  border: 5px solid #c05252;
  border-bottom: none;
  background-color: #ffefd5;
  padding: 30px;
}

@keyframes call {
  0% {
    transform: rotate(-80deg) scale(1.012);
  }
  30% {
    transform: rotate(-70deg) scale(1.032);
  }
  50% {
    transform: rotate(-60deg) scale(1.062);
  }
  70% {
    transform: rotate(-70deg) scale(1.032);
  }
  100% {
    transform: rotate(-80deg) scale(1.062);
  }
}
